<div id=nowplaying>
    <h1>Now Playing</h1>
    <p id="song"> Song</p>
    <br>
    <p id="album"> Album</p>
    <br>
    <p id="artist"> Artist</p>
    <br>
    <p id="duration"> Duration</p>
    <br>
    <p hidden> false </p>
</div>
<br>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwrNA0LAdU4jlHv1A8aCcnP0LenWuNurOsE6szKX9MHg&s" id="albumart"> </img>