<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="css/styles.css" />
    <!--<meta http-equiv="refresh" content="30" />-->
    <title>Now Playing</title>
  </head>
  <body>
    <h1>Now Playing</h1>
    <%- include('body.ejs') %>
    <button id="reload" onclick="reloadPage() " hidden>reload</button>
  </body>
  <footer>
    <script src="js/script.js"></script>
    <script src="js/marquee.js"></script>
  </footer>
</html>
